name: .Net Test ConnectionExtensions

on:
  push:
    paths: 
      - 'src/**'
  pull_request:
    paths: 
      - 'src/**'
  workflow_dispatch:
  
jobs:
  build:

    defaults: 
      run:
        working-directory: src
        
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
  
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.100

    - name: Tests
      run: dotnet test EntityFrameworkCore.MySql.SimpleBulks.Tests/EntityFrameworkCore.MySql.SimpleBulks.Tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura

    - name: ConnectionExtensionsTests
      run: dotnet test EntityFrameworkCore.MySql.SimpleBulks.ConnectionExtensionsTests/EntityFrameworkCore.MySql.SimpleBulks.ConnectionExtensionsTests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura
